# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/
env/

# IDEs
.idea/
.vscode/

# Secrets
.env
